<div class="product-card">
  <div class="header">
    <div class="left">
      <img class="image" src=<%= product.image_url %> />
    </div>
    <div class="right">
      <div class="name"><%= "#{product.year} #{product.name}" %></div>
      <div class="location"><%= product.location %></div>
      <div class="price"><%= '$%.2f' % product.price %></div>
    </div>
  </div>
  <div class="description"><%= product.description %></div>
  <div class="action-group">
    <%= link_to "Purchase", products_path(product), class: "action-btn purchase" %>
    <%= link_to "Wish List", products_path(product), class: "action-btn wish-list" %>
    <%= link_to "View", products_path(product), class: "action-btn" %>
  </div>
</div>